name: AOC application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-java@v5.0.0
        with:
          java-version: '21'
          distribution: 'temurin'
          
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5.0.0

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}
          cache-write-only: false
      - name: List Gradle Tasks
        run: ./gradlew tasks

      - name: Test with Gradle
        run: ./gradlew clean test

      - name: Run with Gradle
        run: ./gradlew clean run
        
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v5.0.0
        with:
          name: test-results
          path: build/test-results/